@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
background-color: rgb(227, 227, 227);
margin: 0;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

ul li{
    display: inline-block;
    margin: 6px 19px;
    font-family: 'Roboto', sans-serif;
}

a{
    color: rgb(107, 37, 230);
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    color: rgb(235, 121, 15);
    text-decoration: none;
}

nav, footer{
    text-align: center;
    background-color: rgb(180, 180, 180);
    padding: 25px 43px 15px 60px;
}

article{
    display: inline-block;
    margin: 10px 16px;
    text-align: center;
    border: 1.5px solid black;
    background-color: rgb(255, 255, 255);
    width: 190px;
    padding: 20px 20px;
    border-radius: 4px;
    max-width: 1000px;
}
p{
    font-size: 15px;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 500px;
    display: inline-block;
    text-align: right;
    margin: 15px;
    float: right;
}
dummy-p{
    font-family: 'Roboto', sans-serif;
    font-size: 14;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

button{
  background-color: hsl(28, 88%, 48%);
  border: 1px solid rgb(210, 46, 16);
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color: hsl(269, 74%, 44%);
}

#lang{
    margin-top: 50px;
}

.test1{
    border: 1px solid #000;
    padding: 49px 59px 69px 79px;
    width: 400px;
    border-radius: 360px;
    margin: 15px;
    background-color: hsl(35, 87%, 48%);
}

.test2{
    border: 1px dashed rgb(222, 42, 110);
    padding: 43px 90px;
    width: 400px;
    border-radius: 50px;
    background-color: rgb(14, 66, 255);
    margin: 15px;
}

.test3{
    border: 4px groove rgb(233, 31, 216);
    padding: 67px 90px;
    width: 400px;
    margin: 15px;
    background-color: rgb(70, 233, 20);
}

.test4{
    border: 4px outset rgb(16, 190, 240);
    padding: 20px 15px;
    width: 400px;
    margin: 15px;
    background-color: rgb(255, 90, 57);
}


/* herman kristiansen 2019 */
